$mobile-min-width: 375px;
$tablet-min-width: 992px;
$desctop-min-width: 1366px;
$big-desctop-min-width: 1920px;
$accent-color: #8E9A82;
$background-color-white: #fff;
$background-color-medium: #FAF9F8;
$background-color-light: #F1F1F1;
$background-color-dark: #DBDBDB;
$text-color: #000;
